html * {
  font-family: "Hanken Grotesk";
}

body {
  width: 1440px;
}

.whole-component {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  body {
    width: 375px;
  }
  .whole-component {
    display: flex;
    flex-direction: column;
  }
  .result {
    text-align: center;
    width: 375px;
    margin-left: -8px;
    padding-left: 37px;
    padding-right: 37px;
  }
  .qualitative-comparison {
    color: hsla(0, 0%, 100%, 0.475);
    inline-size: 200px;
    overflow-wrap: break-word;
    margin-left: 39px;
    margin-bottom: 32px;
    margin-top: -8px;
    
  }

  button {
    font-size: 20px;
  }
}

.result {
  background: linear-gradient(0deg, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
  text-align: center;
  border-radius: 25px;
  width: 300px;
  height: 377px;
  
}

.your-result {
    color: hsla(0, 0%, 100%, 0.475);
    font-size: 18px;
  }

#score-circle {
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: inline-block;
  vertical-align: middle;
}

.total-score {
  font-size: 50px;
  color: hsl(0, 0%, 100%);
  margin-bottom: 0px;
}

.out-of-hundred {
    color: hsla(0, 0%, 100%, 0.475);
    margin-top: 0px;
  }

.qualitative-comparison-title {
  color: hsl(0, 0%, 100%);
}

.qualitative-comparison {
  color: hsla(0, 0%, 100%, 0.475);
  inline-size: 217px;
  overflow-wrap: break-word;
  display: flex;
  justify-content: center;
  margin-left: 39px;

}


.summary {
}

#summary-title {
  font-weight: 800;
  font-size: 18px;
  margin: 18px
}

.name-and-symbol {
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
}

.summary-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  height: 50px;
  width: 300px;
  margin: 18px;
}

#reaction {
  background-color: hsla(0, 100%, 67%, 0.116);
}

#reaction-text {
  color: hsl(0, 100%, 67%);
}

#memory {
  background-color: hsl(39, 100%, 56%, 0.116);
}

#memory-text {
  color: hsl(39, 100%, 56%);
}

#verbal {
  background-color: hsl(166, 100%, 37%, 0.116);
}

#verbal-text {
  color: hsl(166, 100%, 37%);
}
#visual {
  background-color: hsl(234, 85%, 45%, 0.116);
}

#visual-text {
  color: hsl(234, 85%, 45%);
}

.percentage {
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
}
.percentage-number {
  font-weight: 800;
}

.out-of-hundred-summary {
  font-weight: 800;
  color: hsla(224, 30%, 27%, 0.614);
  margin-left: 10px;
}

button {
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  width: 300px;
  height: 50px;
  border-radius: 50px;
  font-size: 14px;
  border: none;
  margin-left: 19px;
  margin-bottom: 20px;
}

.attribution {
    text-align: center;
}